In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
dframe1=DataFrame({'key':['x','z','y','z','x','x'],'data_set_1':np.arange(6)})
dframe1

  key  data_set_1
0   x           0
1   z           1
2   y           2
3   z           3
4   x           4
5   x           5

In [3]:
dframe2=DataFrame({'key':['p','q','r',],'data_set_2':['1','2','3']})
dframe2

  key data_set_2
0   p          1
1   q          2
2   r          3

In [8]:
pd.marge(dframe1 ,dframe2)

AttributeError: module 'pandas' has no attribute 'marge'

In [9]:
pd.marge(dframe1 ,dframe2,on='key')

AttributeError: module 'pandas' has no attribute 'marge'

In [10]:
pd.marge(dframe1 ,dframe2,on='key',how="left")

AttributeError: module 'pandas' has no attribute 'marge'

In [11]:
dframe1

  key  data_set_1
0   x           0
1   z           1
2   y           2
3   z           3
4   x           4
5   x           5

In [12]:
dframe2

  key data_set_2
0   p          1
1   q          2
2   r          3

In [13]:
pd.marge(dframe1 ,dframe2,on='key',how="right")

AttributeError: module 'pandas' has no attribute 'marge'