In [13]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [14]:
df_left=DataFrame({'key':['x','y','z','x','y'],'data':range(5)})

In [15]:
df_left

  key  data
0   x     0
1   y     1
2   z     2
3   x     3
4   y     4

In [16]:
df_right=DataFrame({'group_data':[10,20]},index=['x','y'])

In [17]:
df_right

   group_data
x          10
y          20

In [18]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

  key  data  group_data
0   x     0          10
3   x     3          10
1   y     1          20
4   y     4          20

In [19]:
df_left_hr=DataFrame({'key1':['la','sa','jp','ls','in'],
                      'key2':['12','13','14','15','16'],
                      'data_set':np.arange(5.)})

In [20]:
df_left_hr

  key1 key2  data_set
0   la   12       0.0
1   sa   13       1.0
2   jp   14       2.0
3   ls   15       3.0
4   in   16       4.0

In [21]:
df_right_hr=DataFrame(np.arange(10).reshape(5,2),
                      index=[['la','la','sa','sa','sf'],[20,10,20,20,30]],
                      columns=['col_1','col_2'])

In [22]:
df_right_hr

       col_1  col_2
la 20      0      1
   10      2      3
sa 20      4      5
   20      6      7
sf 30      8      9

In [23]:
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key2'],right_index=True)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat